@font-face {
    font-family: Nutino;
    src: url('../font/Nunito-ExtraLight.ttf');
    font-display: block;
}
body {
    font-family: Nutino;
    font-weight: bold;
    margin:0;
    padding:0;
    box-sizing: border-box;
    .menu-bar {
        background:#000;
        position: absolute;
        display: none;
    }
    .main-nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 1rem;
        .left-side {
            img {
                width:70px;
                height: 70px;
            }
        }
        .middle-side {
            h1 {
                font-size: 40px;
                color:#959595;
            }
        }
        .right-side {
            display: flex;
            img {
                width: 25px;
                height: 25px;
                cursor: pointer;;
                margin: .5rem;
            }
            .menu {
                display: none;
            }
            .signs-btn {
                button {
                    width: 5rem;
                    height: 2.3rem;
                    border:none;
                    outline:none;
                    margin: 0 .5rem;
                    border-radius: 5px;
                    background-color:#0D99DA;
                    color:#fff;
                    cursor: pointer;
                    font-size: 16px;

                    &:first-child {
                        background-color: #39A388;
                    }

                    &:active {
                        transition: .2s;
                        background-color: #000;
                        
                    }
                }
            }
        }
    }
    .main-todolist {
        width: 77%;
        height: 60vh;
        margin: 0 auto;
        background-image: url('../images & icons/Group\ 1.png');
        background-size: 100%;
        background-repeat: no-repeat;

        .adding-list-part {
            form {
                display: flex;
                justify-content: center;
            }
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            label {
                font-size: 20px;
            }
            input {
                width: 200px;
                height: 40px;
                outline: none;
                border: none;
                border-radius: 5px;
                margin: 0 2rem;
                background-color: #919ea2  ;
                font-family:Nutino;
                color:#fff;
                font-weight: bold;
            }
            button {
                width: 5rem;
                height: 2.3rem;
                outline: none;
                border:none;
                border-radius: 10px;
                background-color: #39A388;
                color:#fff;
                cursor: pointer;

                &:active {
                    transition: .2s;
                    background-color: #000;
                    
                }
            }
        }
    }
    .show-all-list {
        width: 80%;
        display: block;
        margin: 1rem auto;
        padding: .5rem 1rem;
        border-radius: 25px;
        background-color: #959595;
        ol {
            position: relative;
            left: 25px;
            li {
                font-size: 17px !important;
            }
        }
        .lname {
            display: flex;
            justify-content: space-between;
            .numberOlist {
                ul {
                    list-style: none;
                }
            }
            img {
                width: 20px;
                height: 20px;
                position: relative;
                right: 50px;
                top: 20px;
                margin: 0 .3rem;
                cursor:pointer;

                &:first-child {
                    transform: rotate(180deg);
                }
            }
        }
    }
}
// let's responsive them!
// media screen only and size of 991
@media screen and (max-width:991px) {

}
// media screen only and size of 767
@media screen and (max-width:767px) {
    .menu-bar {
        height: 100vh !important;
        position: absolute;
        animation: test .2s forwards ease;
        z-index: 1000;
        @keyframes test {
            from {
                width: 0;
            }to {
                width: 40%;
            }
        }
    }
    .main-nav {
        justify-content: space-between !important;
        .left-side {
            img {
                width: 50px !important;
                height: 50px !important;
            }
        }
        .middle-side {
            h1 {
                transition: .3s;
                font-size: 30px !important;
            }
        }
        .right-side {
            button {
                display: none;
            }
            .menu {
                display: block !important;
                cursor: pointer;
                ul {
                    list-style: none;
                    li {
                        width: 40px;
                        height: 2px;
                        background-color:#959595;
                        &:not(:last-child) {
                        margin-bottom: .5rem;
                    }
                    }
                }
            }
    }
}
    .main-todolist {
        transition: .2s;
        width: 100% !important;
    }
    .adding-list-part {
        transition: .3s;
        display: flex;
        flex-direction: column;
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }


        input {
            margin: 2rem 0 !important;
            width: 300px !important;
            text-align: center;
        }

        button {
            width: 10rem !important;
        }
    }
}
// media screen only and size of 585
@media screen and (max-width:585px) {
    .main-nav {
        justify-content: space-between !important;
        .right-side {
            button {
                display:none;
            }
        }
        .middle-side {
            h1 {
                font-size: 25px !important;
            }
        }
    }
    .main-todolist {
        background-size: 100vh !important;
    }
}
// media screen only and size of 320
// ====================================
//adding extra function
.make-cancel-for-menu {
    ul {
        li {
            transition: .5s;
            &:nth-child(1) {
                transform:rotate(-40deg);
                position: relative;
                top: 9.5px;
            }
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3){
                transform:rotate(40deg);
            }
        }
    }
}